@font-face {
    font-family: 'Graphik Regular';
    src: url('../fonts/graphik-regular-web/Graphik-Regular-Web.eot');
    src: url('../fonts/graphik-regular-web/Graphik-Regular-Web.eot#iefix') format('embedded-opentype'), url('../fonts/graphik-regular-web/Graphik-Regular-Web.woff2') format('woff2'), url('../fonts/graphik-regular-web/Graphik-Regular-Web.woff') format('woff'), url('../fonts/graphik-regular-web/Graphik-Regular-Web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Bold';
    src: url('../fonts/graphik-bold-web/Graphik-Bold-Web.eot');
    src: url('../fonts/graphik-bold-web/Graphik-Bold-Web.eot#iefix') format('embedded-opentype'), url('../fonts/graphik-bold-web/Graphik-Bold-Web.woff2') format('woff2'), url('../fonts/graphik-bold-web/Graphik-Bold-Web.woff') format('woff'), url('../fonts/graphik-bold-web/Graphik-Bold-Web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p {
    font-size: 1.5em;
    line-height: 1;
}

a {
    text-decoration: none;
    border-bottom: 1px solid;
    color: $black;
    &:hover {
        border-bottom: none;
    }
    img {
        vertical-align: middle;
        &:hover {
            //opacity: 0.85;
        }
    }
}

h1 {
    font-family: $font-bold;
    font-size: 4.5em;
    padding: 0;
}

h2 {
    line-height: 1.5;
    font-size: 3em;
    font-weight: 400;
    padding: 0;
    a {
        @extend a;
    }
}

h3 {
    font-size: 2em;
    line-height: 1.5;
    font-weight: 400;
}

.quotes {
    &:lang(ru) {
        &::before {
            content: '«';
            margin-left: -.5em;
        }
        &::after {
            content: '»';
        }
    }
    &:lang(en) {
        &::before {
            content: '“';
            margin-left: -.5em;
        }
        &::after {
            content: '”';
        }
    }
}

.emdash {
    display: block;
    &::before {
        content: '— ';
        margin-left: -1.3em;
    }
}