.hero-content {
    margin-top: 5rem;
    &__matlas-logo {
        width: 40%;
        height: 4.5em;
        margin: 0 auto;
        &_light {
            @extend .hero-content__matlas-logo;
            background: url(/img/matlas-logo-white.png) top center / contain no-repeat;
        }
        &_dark {
            @extend .hero-content__matlas-logo;
            background: url(/img/matlas-logo-dark.png) top center / contain no-repeat;
        }
    }
    &__title {
        text-align: center;
        h2 {
            margin: 1.5rem auto 0;
        }
    }
    &__stars {
        @extend .hero-image__stars;
    }
    &__star {
        @extend .hero-image__star;
    }
    &__description {
        width: 1000px;
        opacity: .8;
        margin: 3em auto 6em;
        p {
            width: 80%;
            margin: 0 auto;
        }
    }
    &__list {
        @extend .flex-centered;
        margin: 3em auto 4.5em;
    }
    &__table {
        table {
            width: 90%;
            max-width: 1300px;
            margin: 3em auto;
            text-align: left;
            vertical-align: top;
            tr {
                min-height: 1.5rem;
                height: 3.5em;
                border-bottom: dotted 1px $dark-blue;
                transition: background-color .4s;
                &:nth-last-of-type(1) {
                    border-bottom: none;
                }
                &:hover {
                    background-color: rgba(232, 232, 232, 0.3);
                }
                th {
                    @extend .regular;
                    width: auto;
                    padding: 1rem;
                    text-align: inherit;
                    border-bottom: inherit;
                    border-left: dotted 1px $dark-blue;
                    &:nth-of-type(1) {
                        border-left: none;
                    }
                }
                td {
                    @extend .bold;
                    font-size: 1.5rem;
                    padding: 1rem;
                    text-align: inherit;
                    border-bottom: inherit;
                    border-left: dotted 1px $dark-blue;
                    &.no-border {
                        border-left: none;
                    }
                }
            }
        }
    }
    &__carousel {
        height: 630px;
        width: 1000px;
        position: relative;
        margin: 6em auto;
        .photos {
            overflow: hidden;
            height: inherit;
            width: inherit;
            .photo {
                outline: none;
            }
        }
        .carousel-btns {
            position: absolute;
            width: inherit;
            top: 17.5rem;
            z-index: 1;
            .btn {
                height: 4.5em;
                width: 4.5em;
                position: absolute;
                border-radius: 50%;
                opacity: .5;
                transition: transform .4s, opacity 1.2s, left .5s, right .5s;
                &:hover {
                    transform: scale(1.3);
                    opacity: 1;
                }
            }
            .btn-left {
                left: -6rem;
                background: url(/img/carousel-arrow-left.svg) 30% 50% / 75% 75% no-repeat, $dark-blue;
                @extend .btn;
                @media screen and (max-width: 1200px) {
                    left: 2.5rem;
                    border: solid 1px $light;
                }
            }
            .btn-right {
                right: -6rem;
                background: url(/img/carousel-arrow-right.svg) 70% 50% / 75% 75% no-repeat, $dark-blue;
                @extend .btn;
                @media screen and (max-width: 1200px) {
                    right: 2.5rem;
                    border: solid 1px $light;
                }
            }
        }
    }
    &__poetic {
        @extend .flex-centered;
        margin: 5em auto;
        &_author {
            opacity: .6;
        }
    }
}