$black: #393836;
$font-regular: 'Graphik Regular',
helvetica neue,
arial,
sans-serif;
$font-bold: 'Graphik Bold',
helvetica neue,
arial,
sans-serif;
@import "/bower_components/normalize-css/normalize.css";
@import "fonts";
@import "shorthands";
@import "animations";
@import "header";
html {
    background-color: white;
}

body {
    font-family: $font-regular;
    min-width: 1000px;
    min-height: 100%;
    font-size: 1em;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: $black;
    -webkit-font-smoothing: antialiased;
    //backface-visibility: hidden;
    //-webkit-text-size-adjust: 100%;
}

article {
    // Like a whole page wrapper
    //width: 100%;
    //min-width: 1000px;
    overflow: hidden;
    //margin: 0 auto;
    position: relative;
    //height: 100%;
}

section {
    // always 1000px
    margin: 0 auto;
    width: 1000px;
    position: relative;
    min-width: 300px;
    &.large {
        // <1280, fluid with small white paddings
        width: 95vw;
        max-width: 1280px;
    }
    &.largest {
        // <1280, fluid, without those paddings
        width: 100vw;
        max-width: 1280px;
    }
}

.langchanger {
    position: absolute;
    top: 1em;
    right: 3em;
    z-index: 9998;
}

.wide {
    // for background images
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    text-align: center;
}

.clearfix {
    display: block;
    zoom: 1;
    &:after {
        content: " ";
        display: block;
        font-size: 0;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

#footer-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: row;
}

.footer {
    margin: 0 auto;
    &__first {
        margin-top: 3em;
        &_small {
            margin-bottom: 1em;
        }
        &_large {
            margin-bottom: 10em;
        }
    }
    &__second {
        margin-top: 4em;
        &_small {
            margin-bottom: 1em;
        }
    }
}

.carousel .page {
    outline: none;
}