// colors

$black: #393836;
$dark-blue: #354452;
$brown: #7b6059;
$light: rgb(249, 249, 249);

// fonts

$font-regular: 'Graphik Regular',
helvetica neue,
arial,
sans-serif;
$font-bold: 'Graphik Bold',
helvetica neue,
arial,
sans-serif;
$font-cervo: 'Cervo-Regular',
helvetica neue,
arial,
sans-serif;

// imports

@import "/bower_components/normalize-css/normalize.css";
@import "fonts";
@import "shorthands";
@import "animations";
//
@import "header";
@import "hero-image";
@import "hero-content";

html {
    background-color: white;
}

body {
    font-family: $font-regular;
    min-width: 1000px;
    min-height: 100%;
    font-size: 1em;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: $dark-blue;
    -webkit-font-smoothing: antialiased;
    //backface-visibility: hidden;
    //-webkit-text-size-adjust: 100%;
}

article {
    // Like a whole page wrapper
    //width: 100%;
    //min-width: 1000px;
    overflow: hidden;
    //margin: 0 auto;
    position: relative;
    //height: 100%;
}

section {
    margin: 0 auto;
    position: relative;
    //width: 1000px;
    min-width: 1000px;
}